// Tech page

.tech {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid #fff;
  background: #fff;
  div {
    position: relative;

    .header::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background: url("../img/code_header.jpg") no-repeat center center/cover;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.6;
    }

    .header::after {
      background: rgba(0, 0, 0, 1);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: -1;
    }

    .header {
      height: 310px;
      z-index: 10;
      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        font-size: 3rem;
      }
    }

    .content {
      color: #333;
      padding: 1.6rem;

      h2 {
        font-size: 2rem;
        padding: 1rem 0 2.2rem 0;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5;
      }

      h1 {
        margin: 1rem 0;
      }

      li {
        //display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr 4fr;
        align-items: center;
        font-size: 1.5rem;
        background-color: $text-primary;
        margin: 1rem 0;
      }
    }
  }
}

//Mobile View
@media screen and (max-width: $md) {
  .tech {
    .content {
      text-align: center;
      li {
        display: flex !important;
        justify-content: space-between !important;
        padding-right: 14px;
      }
    }
  }
}
