//Colors
$bg-primary: #074377;
//$bg-primary: #185890;
$bg-sec: rgb(82, 130, 172);
$bg-dark: rgb(8, 46, 80);
$text-primary: #f5f5f5;
$text-sec: #aec5d8;
$nav-primary: rgb(174, 197, 216);
$nav-sec: hsl(208, 71.4%, 36.2%);
// screen breakpoints
$sm: 590px;
$md: 768px;

//animation on load
.load {
  animation: fadein ease 600ms;

  @keyframes fadein {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
}

// margin
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem;
}

// padding

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

// utilities
.active {
  background-color: $bg-dark;
  border-right: 6px solid $bg-sec;
  i {
    color: $nav-sec;
  }
}

.inner-border {
  outline: 1px solid #fff;
  outline-offset: -10px;
}
.logo {
  height: 100px;
  width: 150px;
}

.logo-sm {
  height: 80px;
  width: 80px;
}

.logo-lg {
  height: 60px;
  width: 80px;
}
.nav-item {
  font-size: 22px;
  padding: 1rem;
  color: $nav-primary;
  padding-left: 2rem;
  i {
    padding-right: 1rem;
  }
}

.nav-item:hover {
  cursor: pointer;
  color: $text-primary;
}

.btn-link {
  padding: 12px 12px;
  color: $text-primary;
  background: #333;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0.9;
}

.submit-btn {
  padding: 12px 18px;
  color: $text-sec;
  background-color: $bg-primary;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

.submit-btn:hover {
  color: #fff;
}
// card-global

.card {
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.7);

  text-align: center;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
  h4 {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .img::before {
    border-radius: 8px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
  }
  .img {
    width: 240px;
    height: 200px;
    border-radius: 8px;
    z-index: 10;
    transition: all ease 500ms;
    a {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      display: none;
      transition: all ease 500ms;
    }
    .btn-git {
      top: 70%;
      width: 7rem;
      i {
        padding-right: 8px;
      }
    }
  }

  .img:hover {
    transform: scale(1.1);
    a {
      display: block;
    }
  }
}

/*  */
