//imports
@import "utilities";

@media screen and (max-width: $sm) {
  ::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    border-radius: 0;

    background: $bg-primary;
  }
  body {
    padding: 0;
    display: block;
    height: 100%;
  }

  .active {
    i {
      color: #3834f3;
    }
  }
  #app-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    height: 100%;

    #app-nav {
      margin: 0;
      width: 100%;
      max-width: $sm;
      overflow-y: visible;

      border-right: none;
      border-radius: 0;
      .nav-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 16px;
        background-color: rgba(0, 0, 255, 0.1);
        border-radius: 0;
        z-index: 99;
        img {
          height: 60px;
          width: 60px;
          margin-right: 8px;
        }

        h1 {
          font-size: 1.5rem;
          padding-bottom: 6px;
        }

        h3 {
          font-size: 1rem;
        }
        .mobile-menu {
          display: block;
          /* Style navigation menu links */
          .topnav a {
            color: white;

            font-size: 25px;
          }

          /* Style the hamburger menu */

          /* Add a grey background color on mouse-over */
          .topnav a:hover {
            background-color: $bg-primary;
            color: #fff;
          }

          /* Style the active link (or home/logo) */
          .mobile-active {
            color: white;
          }
        }
      }
      /* Hide the links inside the navigation menu (except for logo/home) */
      .nav-mid {
        display: none;
        height: 340px;
        width: 100%;
        background-color: rgba(26, 44, 60, 0.95);
        z-index: 20;
        position: absolute;

        .nav-menu {
          .nav-item {
            font-size: 20px;
          }
        }
      }
      .nav-bottom {
        display: none;
        height: 60px;
        z-index: 200;
        position: absolute;
        top: 385px;
        left: 50%;
        margin-left: -80px;
        ul {
          left: 80px;
          li {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  #app-content {
    border-radius: 0;
    div {
      .header {
        height: 190px !important;

        h1 {
          font-size: 1.4rem;
        }

        &::before {
          border-radius: 0;
        }
        &::after {
          border-radius: 0;
        }
      }
    }
  }

  .menu-active {
    display: block !important;
  }
}

// Home
// Mobile display
@media screen and (max-width: $sm) {
  .home {
    height: 100vh;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 80%;
      margin: auto;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 1.2rem;
      }

      i {
        margin-top: 0;
      }
    }
  }
}

// About
@media screen and (max-width: $sm) {
  .about {
    div {
      .content {
        flex-direction: column;

        .about-content {
          display: block;

          .about-img {
            float: none;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

// Projects
// Mobile View

@media screen and (max-width: 1200px) {
  .project {
    div {
      .content {
        .flex-row {
          grid-template-columns: auto auto;
        }
      }
    }
  }
}
@media screen and (max-width: 930px) {
  .project {
    div {
      .content {
        .flex-row {
          grid-template-columns: auto;
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .project {
    div {
      .content {
        .flex-row {
          .card {
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .project {
    div {
      .content {
        h2 {
          font-size: 1.6rem;
          padding: 0;
        }
      }
    }
  }
}

// tech
//Mobile View
@media screen and (max-width: $md) {
  .tech {
    div {
      .content {
        text-align: center;
        ul {
           li {
          margin: 8px 4px;
        }
        }
       
      }
    }
  }
}

//Contact
// Mobile View

@media screen and (max-width: 850px) {
  .contact {
    div {
      .content {
        #contact-form {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .contact {
    div {
      .content {
        #contact-form {
          form {
            width: 100%;

            .form-border {
              width: 90%;
            }

            .form-text {
              width: 80%;
            }

            #form-area {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
