//imports
@import "utilities";

@media screen and (max-width: $md) {
  body {
    height: 100% !important;
  }
  #app-wrapper {
    margin-top: 4rem !important;
  }
}

@media screen and (max-width: $sm) {
  body {
    padding: 0 !important;
  }
  #app-wrapper {
    display: flex !important;
    flex-direction: column !important;
    margin: 10px !important;
    height: 100% !important;
    #app-nav {
      margin: 0 !important;
      width: 100% !important;
      max-width: 480px !important;
      overflow-y: visible !important;

      background: #5555;
      margin: auto;
      height: 100% !important;
      border-right: none !important;
      .nav-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px 16px;
        img {
          height: 80px !important;
          width: 80px !important;
          margin-right: 8px;
        }

        h1 {
          font-size: 1.5rem;
          padding-bottom: 6px;
        }

        h3 {
          font-size: 1rem;
        }
      }
    }

    .mobile-menu {
      display: block !important;

      // align-self: flex-end;
      /* Style navigation menu links */
      .topnav a {
        color: white;

        font-size: 25px;
      }

      /* Style the hamburger menu */
      // .topnav a.icon {
      // background: black;
      //display: block;
      // }

      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: $bg-primary;
        color: #fff;
      }

      /* Style the active link (or home/logo) */
      .mobile-active {
        color: white;
      }
    }
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .myLinks {
    display: none;
    opacity: 0;
    height: 360px !important;
    width: 95% !important;
    background-color: $bg-primary;
    z-index: 50 !important;
    position: absolute !important;
    transition: opacity 1s ease-out;
  }

  .menu-active {
    opacity: 1;
    display: block;
  }

  .nav-bottom {
    height: 60px !important;
    ul {
      left: 80px !important;
    }
  }
}

// Home
// Mobile display
@media screen and (max-width: $sm) {
  .home {
    height: 100vh !important;

    h1 {
      font-size: 40px !important;
    }

    p {
      font-size: 1.2rem !important;
    }
  }
}

// About
@media screen and (max-width: $sm) {
  .content {
    flex-direction: column !important;

    .about-content {
      display: block !important;

      .about-img {
        float: none !important;
      }
    }
  }
}

// Projects
// Mobile View

@media screen and (max-width: $md) {
  .card {
    margin: 1rem 0 !important;
  }
}
@media screen and (max-width: $sm) {
  h2 {
    font-size: 1.6rem !important;
  }
}

// tech
//Mobile View
@media screen and (max-width: $md) {
  .tech {
    .content {
      text-align: center;
      li {
        display: flex !important;
        justify-content: space-between !important;
        padding-right: 14px;
      }
    }
  }
}

//Contact
// Mobile View

@media screen and (max-width: $md) {
  #contact-form {
    max-width: 480px !important;
    width: 100% !important;
    background-color: $text-sec !important;
  }
}

@media screen and (max-width: $sm) {
  #contact-form {
    background-color: #fff !important;
    form {
      width: 100% !important;

      .form-border {
        width: 150% !important;
      }

      .form-text {
        width: 80% !important;
      }

      #form-area {
        width: 150% !important;
      }
    }
  }
}
