extends index.pug 

block mainNav 
  +mainNav('about')

block content 
  .about 
    div 
     .header.inner-border.load
       h1 About 
     .content 
       h2 About Me 
       .about-content 
         .about-img 
           img(src="img/me/travels.jpg", alt="monkey and I") 
           p Made a friend on my trip to Bali. 
         div 
           p My name is <span>Leo Ortega</span> and I am a software developer based in Alexandria, Minnesota. I have spent the last few months learning about frontend web development and am eager to build fully interactive web applications.

           p I love learning about new technologies and I am looking forward to helping you on your next project. You can view my <a href="https://raw.githubusercontent.com/Leopoldov95/pug-portfolio/main/Leopoldo_Ortega.pdf" download>resume</a> here.

           p In addition to coding, I enjoy traveling, kayaking, and going on hikes.