extends index.pug 

block mainNav 
  +mainNav('about')

block content 
  .about 
    div 
     .header.inner-border.load
       h1 About 
     .content 
       h2 About Me 
       .about-content 
         .about-img 
           img(src="img/me/travels.jpg", alt="monkey and I") 
           p Made a friend on my trip to Bali. 
         div 
           p My name is <span>Leo Ortega</span> and I am a Web Developer. I am passionate and motivated about learning frontend web development and am eager to build fully interactive web applications.

           p I love learning about new technologies and I am looking forward to helping you on your next project. You can view my resume by clicking on the link down below.
           .about-download
             <a class='btn' href="https://drive.google.com/file/d/1s2VlgeLZqvDhm1dpCVrl1G53Cbp3SWBH/view?usp=sharing" target="_blank" rel="noopener noreferrer" >View</a>
             <a class='btn' href="https://raw.githubusercontent.com/Leopoldov95/pug-portfolio/main/Leopoldo_Ortega.pdf" download>Download</a>
             <i class="pdf-icon far fa-file-pdf"></i>

           

           p In addition to coding, I enjoy traveling, kayaking, and going on hikes.