extends index.pug 

block mainNav 
  +mainNav('about')

block content 
  .about 
    div 
     .header.inner-border.load
       h1 About 
     .content 
       h2 About Me 
       .about-content 
         .about-img 
           img(src="img/me/travels.jpg", alt="monkey and I") 
           p Cycling along a beautiul Minnesotan Lake. 
         div 
           p My name is <span>Leo Ortega</span> and I am a Web Developer. I specialize in Front-End Web Development and I enjoy solving problems through code, and I am excited to work alongside other amazing programmers.

           p I love learning about the new and latest technologies and I am looking forward to helping you on your next project. You can view my resume by clicking on the link down below.
           .about-download
             <a class='btn' href="https://drive.google.com/file/d/1vOp7F00_lxftqVd0b5QneVNSFklLSLoj/view?usp=sharing" target="_blank" rel="noopener noreferrer" >View</a>
             <a class='btn' href="https://raw.githubusercontent.com/Leopoldov95/pug-portfolio/main/Leopoldo_Ortega.pdf" download>Download</a>
             <i class="pdf-icon far fa-file-pdf"></i>

           p In addition to coding, I enjoy traveling, cycling, and going on hikes.