extends index.pug 

block mainNav 
  +mainNav('projects')

block content 
  .project
    div 
      .header.inner-border.load  
        h1 My Projects 
      .content 
        .flex-row
          .card 
            .img.pokedex 
            div 
              h1 React Pokedex 
              p A full featured Pokdex app created using React.JS
              div
                a(href="https://reactpokedexleo.netlify.app/" target="_blank" rel="noopener noreferrer" class="btn-link") View Demo
                a(href="https://github.com/Leopoldov95/React_Pokedex" target="_blank" rel="noopener noreferrer"   class="btn-link btn-git") 
                  i.fab.fa-github
                  |Github 
          .card 
            .img.weather 
            div 
              h1 Weather App 
              p A all-in-one weather app that shows weather data and an interactive map
              div
                a(href="https://weather-app-leopoldov95.netlify.app/" target="_blank" rel="noopener noreferrer"   class="btn-link") View demo
                a(href="https://github.com/Leopoldov95/Weather-App" target="_blank" rel="noopener noreferrer"   class="btn-link btn-git") 
                  i.fab.fa-github
                  |Github
          .card 
            .img.qwixx 
            div 
              h1 Qwixx JS 
              p A 2 to 4 player luck and strategy dice game 
              div
                a(href="https://qwixxjs.netlify.app/"  target="_blank" rel="noopener noreferrer"   class="btn-link") View Demo
                a(href="https://github.com/Leopoldov95/QwixxJS" target="_blank" rel="noopener noreferrer"   class="btn-link btn-git") 
                  i.fab.fa-github
                  |Github
          .card 
            .img.winery 
            div 
              h1 Winery Website 
              p A full and responsive website for a winery
              div
                a(href="https://tonne-winery-project.netlify.app/" class="btn-link" target="_blank" rel="noopener noreferrer"  ) View Demo
                a(href="https://github.com/Leopoldov95/Winery-landing-page-clone" target="_blank" rel="noopener noreferrer"   class="btn-link btn-git") 
                  i.fab.fa-github
                  |Github
          