extends index.pug 

block mainNav 
  +mainNav('projects')

block content 
  .project
    div 
      .header.inner-border.load  
        h1 My Projects 
      .content 
        h2 Projects I have created 
        .flex-row 
          .card 
            div 
              h4 Weather App 
            .img.weather 
              a(href="https://weather-app-leopoldov95.netlify.app/" target="#" class="btn-link") View Project
              a(href="https://github.com/Leopoldov95/Weather-App" target="#" class="btn-link btn-git") 
                i.fab.fa-github
                |Github
          
          .card 
            div 
              h4 React Pokedex 
            .img.pokedex 
              a(href="https://reactpokedexleo.netlify.app/" target="#" class="btn-link") View Project
              a(href="https://github.com/Leopoldov95/React_Pokedex" target="#" class="btn-link btn-git") 
                i.fab.fa-github
                |Github 
          .card 
            div 
              h4 Qwixx JS 
            .img.qwixx 
              a(href="https://qwixxjs.netlify.app/" target="#" class="btn-link") View Project
              a(href="https://github.com/Leopoldov95/QwixxJS" target="#" class="btn-link btn-git") 
                i.fab.fa-github
                |Github
          .card 
            div 
              h4 Winery Home Page 
            .img.winery 
            
              a(href="https://tonne-winery-project.netlify.app/" target="#" class="btn-link") View Project
              a(href="https://github.com/Leopoldov95/Winery-landing-page-clone" target="#" class="btn-link btn-git") 
                i.fab.fa-github
                |Github
          .card 
            div 
              h4 Blue Shield Clone 
            .img.blue-shield 
              a(href="https://blueshieldclone.netlify.app/" target="#" class="btn-link") View Project
              a(href="https://github.com/Leopoldov95/Blue-Shield-Landing-Clone" target="#" class="btn-link btn-git") 
                i.fab.fa-github
                |Github