extends index.pug 

block mainNav 
  +mainNav('tech')

block content 
  .tech 
    div 
      .header.inner-border.load 
        h1 Technology 
      .content
        h2 Technology I use 
        p I use 
          span HTML
          | , 
          span CSS
          | ,
          span  SASS 
          | ,
          span  Javascript
          | , and 
          span React.JS 
          | for front end work and have been using 
          span Node.JS
          | ,  
          span  Express.JS
          | , and 
          span MongoDB 
          | to create the backend. I have also created fullstack projects using the 
          span MERN 
          | stack. My editor of choice is 
          span VSCode.
        h1 Skills & Technologies 
        ul 
          li 
            img(src="img/skills/html5.svg")
            p HTML 
          li 
            img(src="img/skills/css3.svg")
            p CSS
          li 
            img(src="img/skills/sass.svg")
            p SASS
          li 
            img(class='logo-sm pug-logo' src="img/logos/pug_logo.png") 
            p Pug
          li 
            img(src="img/skills/javascript.svg")
            p JavaScript
          li 
            img(src="img/skills/react.svg")
            p ReactJS
          li 
            img(src="img/skills/nodejs.svg")
            p NodeJS
          li 
            img(src="img/skills/express.svg")
            p Express
          li 
            img(src="img/skills/mongodb.svg")
            p MongoDB
          li 
            img(src="img/skills/git.svg")
            p Git
          li 
            img(src="img/skills/npm.svg")
            p NPM
          li 
            img(src="img/skills/vscode.svg")
            p VS Code 
          li 
            img(src="img/skills/heroku.svg")
            p Heroku 
         
          