extends index.pug 

block mainNav 
  +mainNav('tech')

block content 
  .tech 
    div 
      .header.inner-border.load 
        h1 Technology 
      .content
        h2 Technology I use 
        p I mainly use HTML,CSS, SASS and javaScript for my web designs and web applications. I am getting more comfortable using NodeJS and ReactJS to build larger and better web applications and have been able to create projects with them. My editor of choice is VSCode.
        h1 For Web Design and User Interface 
        ul 
          li 
            i.fab.fa-html5.logo.logo-html
            | HTML 
          li 
            i.fab.fa-sass.logo.logo-sass
            | SASS
          li 
             i.fab.fa-css3-alt.logo.logo-css
             | CSS
          li 
            img(class='logo-sm pug-logo' src="img/logos/pug_logo.png") 
            | Pug
        h1 For Web Programming 
        ul 
          li 
        
            i.fab.fa-js-square.logo.logo-js
            | JavaScript
          li 
   
            i.fab.fa-node.logo.logo-node
            | NodeJS
          li 
       
            i.fab.fa-react.logo.logo-react
            | ReactJS