extends index.pug 

block mainNav 
  +mainNav('tech')

block content 
  .tech 
    div 
      .header.inner-border.load 
        h1 Technology 
      .content
        h2 Technology I use 
        p I mainly use vanilla HTML,CSS and javaScript for my web designs and we applications. I am getting more comfortable using SASS and am currently learning NodeJS and React to build larger and better web applications. My editor of choice is VSCode.
        h1 For Web Design and User Interface 
        ul 
          li 
            img(class='logo' src="img/logos/html_css_logo.png") 
            | HTML & CSS
          li 
            img(class='logo' src="img/logos/sass_logo.png") 
            | SASS
          li 
            img(class='logo-sm' src="img/logos/pug_logo.png") 
            | PugJs
        h1 For Web Programming 
        ul 
          li 
            img(class='logo-sm' src="img/logos/js_logo.png") 
            | javaScript
          li 
            img(class='logo' src="img/logos/nodejs_logo.png") 
            | NodeJS
        h1 What I'm currently learning 
        ul 
          li 
            img(class='logo-long' src="img/logos/react_logo.png") 
            | React